# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
VPN_IPSEC_PSK=your_ipsec_pre_shared_key
VPN_USER=your_vpn_username
VPN_PASSWORD=your_vpn_password
VPN_LEFT_NAME=your.left.side.com
VPN_LEFT_IP_SUBNET=192.168.1.0/24
VPN_RIGHT_NAME=your.right.side.com
VPN_RIGHT_IP_SUBNET=192.168.2.0/24

# (*Optional*) Advanced users can set up IKEv2. See:
# https://git.io/ikev2docker


